# Backend
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB"
JWT_SECRET="una_clave_larga_y_dificil_de_adivinar_123456"

# MercadoPago (TEST primero)
MP_ACCESS_TOKEN="TEST-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MP_WEBHOOK_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# URLs públicas (Render recomendado para webhook real)
PUBLIC_BASE_URL="https://ecommerce-e5u7.onrender.com"
FRONTEND_BASE_URL="https://ecommerce-e5u7.onrender.com"
